@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.normal {
	background-color: #A8A878
}

.fire {
	background-color: #F08030
}

.water {
	background-color: #6890F0
}

.grass {
	background-color: #78C850
}

.electric {
	background-color: #F8D030
}

.ice {
	background-color: #98D8D8
}

.ground {
	background-color: #E0C068
}

.flying {
	background-color: #A890F0
}

.poison {
	background-color: #A040A0
}

.fighting {
	background-color: #C03028
}

.psychic {
	background-color: #F85888
}

.dark {
	background-color: #705848
}

.rock {
	background-color: #B8A038
}

.bug {
	background-color: #A8B820
}

.ghost {
	background-color: #705898
}

.steel {
	background-color: #B8B8D0
}

.dragon {
	background-color: #7038F8
}

.fairy {
	background-color: #FFAEC9
}

.roxo {
	background-color: #6C7ADC;
}

.ocultar-button {
	visibility: hidden;
}